# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Add everyone in the maintainers group to all PRs automatically
* @swgoh-utils/maintainers